/* CSS declarations go here */
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

  .demo-card-square.mdl-card {
    width: 200px;
    height: 200px;
    float: left;
    margin: 1rem;
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    border-color: #A94585;
    border-radius: 10px;
  }
  
  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: url("/SalesforceLogo.png") center / cover;
  }
  
  .demo-card-square > .mdl-card__accent {
    background: #E9B3B4;
  }

  .mdl-button {
  	
  	height: 70px;
  }

  .material-icons.md-24 { font-size: 50px; }

 .mdl-card__title-text {

    size: 14px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
     color: #E1946B;
  }

  .nav-links {
    size: 14px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
     color: #E1946B;

  }

#navbar {
  margin-top: 0%;
  background-color: #FFFFFF;
  min-height: 100px;
}

.auth-content {

  background-color: #FFFFFF;
  border-radius: 50px;
}

#form18 > div.o-form-button-bar > input {
  background-color: #A94585;

}

#okta-sign-in .button-primary {
      color: white;
      background-color: #A94585;
      color: #A94585;
      border-color: #A94585;
      background: none;
      background-repeat: no-repeat;
      filter: none;
    }

.auth-org-logo {
  max-width: 200px;
  max-height: 500px;
}

#appsBody {
  width: 100%;
  height: 100%;
}

.mdl-card__supporting-text{
  background-color: #E9B3B4;
  color: #E1946B;
}

.mdl-card__actions {
  background-color: #FFF;

}

  .mdl-button--fab.mdl-button--colored {
    background-color: #A94585;
  }